# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

.next
.angular
coverage

# Java / Maven
target/
*.class

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker / database
postgres-data/

# Logs
*.log

*_files/
saved_resource*